.ReactCollapse--collapse {
    transition: height 500ms;
  }

.input{
  color: white;
  width:100%;
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

@media (max-width: 718px) {
  .textAlign{
    text-align: start;
  }
}